
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>


<p>ViewData: @ViewData["Fname"]</p>
<p>ViewBag:  @ViewBag.Lname</p>
<p>Temp Data: @TempData["CompleteName"]</p>
<p>Session : @Session["Address"]</p>